<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>B&amp;S</title>

  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/main.css">

  <!-- Bootstrap Date-Picker Plugin -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />


</head>

<body>
  <div id="wrapper" class="active">

    <%- include('partials/sidebar') %>

      <!-- Page content -->
      <div class="container-fluid">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content">
          <%- include('partials/header') %>

            <div id="main-content" class="row">
              <div id="feed" class="col-md-offset-1 col-md-10">


                <div id="content-heading" class="clearfix">
                  <div id="row">

                    <div class="col-md-2">
                      <img class="pull-left" src="assets/images/icon-flash.png" alt="news image">
                      <p>News</p>
                    </div>
                    <% if(true){ %>
                      <% //TODO if admin %>
                      <%- include('partials/forms/createUserForm') %>
                      <button type="button" class="new-button pull-right" data-toggle="modal" data-target="#createUserForm" style="margin-left:20px;" >+ Add user</button>
                    <% } %>
                    <button type="button" class="new-button pull-right" data-toggle="modal" data-target="#myModal" >+ Create news</button>
                    <%- include('partials/forms/newsForm') %>
                  </div>
                </div>

                <% news.forEach((newsItem) => { %>
                  <%- include('partials/newsItem', {newsItem: newsItem}) %>
                <% }) %>

              </div>
            </div>
        </div>
      </div>
  </div>

  <script src="assets/js/sidebar.js"></script>
</body>

</html>
